/** por defecto los estilos se aplican a pantallas menores a 900px */

* {
	box-sizing: border-box;
}

body{
	font-family: 'Dancing Script', cursive;
	background-color: #02010a;
}

img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
  height: auto;
	box-shadow: 2px 2px 2px #02010a;
}

/**********************************/

#contenido{
	width: 100%;
	margin: 0px auto;
}

.slidein{
    animation-name: slidein;
    animation-duration: 4s;
}

@keyframes slidein {
    0%   {margin-top: 150%;}
    25%  {margin-top: -5%;}
    50%  {margin-top: 0%;}
}

/**********************************/

#cabecera{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#cabecera h1{
	color: white;
	text-align: center;
	margin-top: 0;
}

#cabecera a{
	color: white
}

#cabecera a.active {
	text-decoration: none;
}

/**********************************/

footer{
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;

	display: flex;
	flex-direction: column;
	padding: 20px;
}

/**********************************/

#imagen-central{
	padding: 20px 40px;
	background-color: #82c3a6;
}

#imagenes-secundarias{
	background-color: #d5c75f;
	border: solid 1px black;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#imagenes-secundarias img{
	transition:all 1s ease-out;
	transform:rotate(0deg);
}

#imagenes-secundarias img:hover{
	box-shadow-color: #82c3a6;
	border: solid 2px black;
}

#imagenes-secundarias a p{
	margin-bottom: 0px;
	font-size: x-large;
	font-weight: bolder;
	text-align: center;
	color: black;
	text-decoration: underline;
}

#imagenes-secundarias #paisajes:hover{
   transform:rotate(10deg);
}

#imagenes-secundarias #retratos:hover{
  transform: translate(20px, -5px);
}


/**********************************/

#galeria{
	background-color: #d5c75f;
	border: solid 1px black;

	display: flex;
	flex-direction: column;
}

#galeria div{
	margin: 10px;
}

#galeria div:nth-child(1){
	filter: blur(10px) 
}

#galeria div:nth-child(3){
	filter: sepia(90%) 
}

#galeria div:nth-child(even){
	filter: grayscale(100%) 
}

/**********************************/

@media (min-width: 900px) {

	#contenido{
		width: 900px;
	}

	#cabecera{
		flex-direction: row;
		justify-content: space-between;
	}

	footer{
		flex-direction: row;
		justify-content: space-around;
	}

	#imagenes-secundarias{
		flex-direction: row;
		justify-content: space-around;
	}

	#galeria{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#galeria div{
		width: 31%;
	}

}